<%= form_for @room do |f|  %>
  <div class="field">
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label 'Chatwork room ID' %>
    <br>
    <%= f.text_field :chatwork_room_id %>
  </div>

  <%= f.submit "Create room", class: "btn btn-primary" %>
<% end %>
