<%= form_for(@report, {html: {name: "$ctrl.reportForm"}}) do |f| %>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">
      Room <span class="required">(*)</span>
    </label>
    <div class="col-sm-10">
      <%= f.select :room_id, @rooms.collect { |room| [ room.name, room.id || room.room_id ] }, {},
        {class: "form-control form-control-lg", "ng-model": "$ctrl.report.room_id",
          "ng-required": true} %>
    </div>
  </div>

  <% unless @current_user.provider == "chatwork" %>
    <%= f.hidden_field :from_name, value: "{{$ctrl.report.from_name}}" %>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">
        From <span class="required">(*)</span>
      </label>
      <div class="col-sm-10">
        <select class="form-control form-control-lg" ng-model="$ctrl.report.from_id">
          <option ng-selected="member.account_id == $ctrl.report.from_id"
            ng-repeat="member in $ctrl.members" value="{{member.account_id}}"
            ng-bind="member.name"></option>
        </select>
      </div>
    </div>
  <% end %>

  <%= f.hidden_field :to_name, value: "{{$ctrl.report.to_name}}" %>
  <div class="form-group row">
    <%= f.label "To", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <select multiple class="form-control form-control-lg" ng-model="$ctrl.report.to_id">
        <option ng-selected="_.includes($ctrl.report.to_id, member.account_id)"
          ng-repeat="member in $ctrl.members" value="{{member.account_id}}"
          ng-bind="member.name"></option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label "Task - Percent - Actual", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <textarea id="task-percent-actual" class="form-control" rows="5" cols="20"
        placeholder="Exp:&#10;task1;20;doing&#10;task2;100;done"
        ng-model="$ctrl.report.taskDetails"></textarea>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :problems, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_area :problems, class: "form-control", rows: "3",
        "ng-model": "$ctrl.report.problems" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :next_day_plan, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_area :next_day_plan, class: "form-control", rows: "3",
        "ng-model": "$ctrl.report.next_day_plan" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :free_comment, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_area :free_comment, class: "form-control", rows: "3",
        "ng-model": "$ctrl.report.free_comment" %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">
      Template <span class="required">(*)</span>
    </label>
    <div class="col-sm-10">
      <select class="form-control form-control-lg" ng-model="$ctrl.report.report_template_id"
        name="report[report_template_id]"
        ng-required="true">
        <option ng-selected="template.id == $ctrl.report.report_template_id"
          ng-repeat="template in $ctrl.templates track by $index" value="{{template.id}}"
          ng-bind="template.name"></option>
      </select>
    </div>
    <%= link_to "", class: "nav-link col-sm-offset-2", "ng-click": "$ctrl.editTemplate()",
      "ng-if": "!!$ctrl.report.report_template_id" do %>
      <i class="fa fa-fw fa-pencil-square-o"></i>
      <span class="nav-link-text">Edit this template</span>
    <% end %>
  </div>
  <div class="form-group row">
    <button type="button" class="col-md-4 btn btn-primary col-md-offset-4"
      ng-click="$ctrl.sendReport()" ng-disabled="$ctrl.reportForm.$invalid || $ctrl.is_sending">
      Send Report
    </button>
  </div>
<% end %>
